extends layout.pug

block content
    section.section.page
        h1.title Main page

        h1 This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service