doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Calories Counting app
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap', rel='stylesheet')
        link(rel="stylesheet", href="http://localhost:3000/styles.css")
        script(src="http://localhost:3000/scripts.js" defer)
    body
        section.navbar
            nav.nav
                a.nav-item(href='/') Home
                a.nav-item(href='/calories') Calories Page
                a.nav-item(href='/calories/create') Add Calorie

        block content